<template>
    <div class="<%= data.lowerName %>"></div>
</template>

<script>
    export default {
        name: '<%= data.name %>',
        created() {},
        data() {
            return {}
        },
        methods: {}
    }
</script>

<style scoped lang="scss">
    .<%= data.lowerName %> {
        
    }
</style>